{block content}
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">

        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <div class="main-button scroll-to-section">
                    <a n:href="Homepage:">Domov</a>
                    <a onClick="openTab(this)" href="#" name="prednaska1.pdf">1. prednáška</a>
                    <a onClick="openTab(this)" href="#" name="prednaska2.pdf">2. prednáška</a>
                </div>
            </div>
        </div>
    </div>
{/block}