<!DOCTYPE html>
<html lang="sk">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Technologie spracovania surovin</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{$basePath}assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{$basePath}assets/css/font-awesome.css">

    <link rel="stylesheet" href="{$basePath}assets/css/templatemo-training-studio.css">
    {block #head}{/block}
</head>

<body>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">Technologie spracovania surovin</em></a>
                    <!-- ***** Logo End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->

{block #content}{/block}
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p n:if="$user->isLoggedIn()">Prihlásený ako: {$user->getIdentity()->data['email']} | <a n:href="logout!">Odhlásenie</a></p>
                <p>Copyright &copy; 2020 Objektové programovanie

                    - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a></p>

                <!-- You shall support us a little via PayPal to info@templatemo.com -->

            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{$basePath}assets/js/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="{$basePath}assets/js/bootstrap.min.js"></script>

<!-- Global Init -->
<script src="{$basePath}assets/js/custom.js"></script>
<script type="text/javascript">
    function openTab(th)
    {
        window.open(th.name,'_blank');
    }
</script>
{block #script}{/block}
</body>
</html>
